@page
@model KE03_INTDEV_SE_1.Pages.ProductenModel
@{
	ViewData["Title"] = "Producten";
}
<h1>Producten</h1>
<p>Lorum ipsums sd lkfs dfsdsfd jkl sd</p>

<div class="container-fluid p-0">
	<table class="table">
		<thead>
			<tr>
				<th>Naam</th>
				<th>Beschrijving</th>
				<th>Prijs</th>
			</tr>
		</thead>
		@foreach (var c in Model.Product)
		{
			<tr onclick="">
				<td>@Html.DisplayName(c.Name)</td>
				<td>@Html.DisplayName(c.Description)</td>
				<td>@c.Price</td>
				@* <td><img src="https://www.ozziecollectables.com/cdn/shop/files/MASMTXHS001-70--Matrix-Nebuchadnezzar-01.png?v=1741521909&width=1445" alt="Alternate Text" /></td> *@

			</tr>
		}
	</table>
</div>