@page
@model KE03_INTDEV_SE_1.Pages.ProductenModel
@{
	ViewData["Title"] = "Producten";
}
<h1>Producten</h1>
<p>Lorum ipsums sd lkfs dfsdsfd jkl sd</p>

<div class="container-fluid p-4">
    <div class="d-flex flex-wrap justify-content-start gap-3">
        @foreach (var c in Model.Product)
        {
            <div class="card" onclick="window.location.href = '/Product?id=@c.Id'" style="width: 18rem; cursor:pointer; padding-bottom:30px; margin-bottom: 10px">
                <img src="../imgs/sfeer1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@c.Name <span class="float-end">@c.Price</span></h5>
                    <p class="card-text flex-grow-1 mb-2">@c.Description</p>
                    <a href="#" onclick="event.stopPropagation()" class="btn btn-primary position-absolute" style="bottom: 10px">In winkelwagen</a>
                </div>
            </div>
        }
    </div>
</div>
@* https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/da1?view=aspnetcore-9.0 *@